<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/inicio" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="assets\maetinNavBar.png" alt="Logo Principal" class="me 2"width="60" height="62" >
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">MedicalCarePlus</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/administracion/pacientes" class="nav-link">Pacientes</a></li>
      <li class="nav-item"><a routerLink="/administracion/crear-doctores" class="nav-link">Doctores</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Citas Medicas</a></li>
    </ul>
</header>